<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-content">
      <span class="footer-title">{{ site.title | escape }}</span>
      <span class="footer-separator">|</span>
      <div class="footer-social">
        {%- include social.html -%}
      </div>
      <span class="footer-separator">|</span>
      <span class="footer-description">{{- site.description | escape -}}</span>
    </div>
  </div>

</footer>
