---
---

@import "{{ site.theme }}";

.site-header {
    border-top: none;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;

    // Positioning context for the mobile navigation icon
    position: relative;
}
