---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <h2>Recent Posts</h2>
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts limit:5-%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
          <a class="post-link post-link-large" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <hr class="section-divider">

  <h2>Browse by Tag</h2>
  <ul class="tag-list">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      {% assign tag_name = tag[0] %}
      {% assign tag_posts = tag[1] %}
      <li>
        <a href="/tags/{{ tag_name }}">
          <code>{{ tag_name }}</code> ({{ tag_posts.size }})
        </a>
      </li>
    {% endfor %}
  </ul>

  <hr class="section-divider">

  <h2>Browse by Year</h2>
  <div class="archive-scroll">
    {% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    {% for year_group in posts_by_year %}
      <h3>{{ year_group.name }} ({{ year_group.items.size }} posts)</h3>
      <ul>
        {% for post in year_group.items %}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>

</article>
